@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Noto+Sans:wght@400;500;600;700&family=Ysabeau+Infant&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Noto Sans';
}
/* 導覽列開始 */
.navbar {
    background-color: #3c3c3c;
}
.nav-item a {
    color: white;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-photo {
    height: 600px; /* 設置左側大圖容器的固定高度 */
    overflow: hidden; /* 確保圖片超出容器部分被隱藏 */
}

.main-photo img {
    width: 100%; /* 讓圖片的寬度自動調整為容器的寬度 */
    height: auto; /* 自動調整高度以保持原始比例 */
    object-fit: cover; /* 確保圖片填滿整個容器，並保持比例 */
    overflow: hidden;
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%; /* 將右側縮圖容器的高度設置為 100% */
}

.thumbnail {
    width: 40%;
    height: auto;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.thumbnail:hover {
    border: 1px solid #555;
}